body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: rgb(242, 248, 248);
}
header a{
    text-decoration: none;
    color:black;
    font-weight: normal;
}
.container{
    width:100%;
    margin:auto;
    overflow: hidden;
}
main .generalText{
    width:30%;
    margin-left:55px;
    margin-top:70px;
    float:left;
}
main button{
    border-radius:8px;
    padding: 12px 28px;
    background-color: rgb(44, 115, 239);
    color:#fff;
    font-family: sans-serif;
    text-decoration: none;
    font-size:16px;
}
footer{
    margin-top:120px;
    margin-left:70px;
}
.image{
    width: 18%;
    float:right;
    display: inline;
    margin-right: 80px;
    margin-top:30px;
}
header a:hover{
    cursor: pointer;
    color:rgb(58, 200, 248);
    font-weight: bold;
}

